.contact-form {
    background-color: #f8f9fa;
    border-radius: 20px;
}

.custom-input {
    border-radius: 10px;
    padding: 12px;
    border: 2px solid #e9ecef;
}

.cart-item hr{
    margin-top: 10px;
    height: 2px;
    background-color: #e2e2e2;
    border: none;
}